In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("historical_data.csv")

In [3]:
df.head()

         Date   Currency     Mean      Buy     Sell
0  11/10/2016  AE DIRHAM  27.5747  27.5449  27.6046
1  11/10/2016    SA RAND   7.3196   7.3087   7.3305
2  11/10/2016      CAN $  76.6902  76.6060  76.7744
3  11/10/2016  AE DIRHAM  27.5747  27.5449  27.6046
4  11/10/2016    SA RAND   7.3196   7.3087   7.3305